.banner {
    height: 350px;
    color: #eeeeee;
    object-fit: contain;
    position: relative;
    .banner__container {
        position: absolute;
        margin-left: 30px;
        height: 180px;
        padding-top: 140px;
        .banner__title {
            font-size: 3rem;
            font-weight: 800;
            padding-bottom: 0.3rem;
        }
        .banner__description {
            line-height: 1.3;
            padding-top: 1rem;
            font-size: 0.8rem;
            max-width: 360px;
            height: 80px;
        }
        .banner__button {
            cursor: pointer;
            color: #eee;
            outline: none;
            border: none;
            font-weight: 700;
            border-radius: 0.2vw;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-right: 1rem;
            padding-top: 0.5rem;
            background-color: rgba(92, 87, 87, 0.5);
            padding-bottom: 0.5rem;
            &:hover {
                background-color: #eee;
                color: #333;
                transition: all 0.2s;
            }
        }
    }
    .banner--fadeBottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 7.4rem;
        background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
    }
}